* {
    box-sizing: border-box;
}

.jumbotron{
    text-align: center;
    margin-top: 0px;
    padding-top: 1px;
    color:white;
    background-color: black;
    height: 212px;
}

body { 
    background: url('../css/images/mountains.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Raleway;
}


/*.background {
    background-color: #757F9A;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #D7DDE8, #757F9A);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

}*/

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: -23px
}

img{
    border-radius: 3px;
}

.openTxt{
    position: absolute;
    top: -41px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    color: black;
}

.active{
    text-align: left;
    color: white;
}
.navbar {
    border: none!important;
}

.navbar-header{
    margin-top:6px;
}

.navbar-default .navbar-nav>li>a {
    color: #efecec;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #7f7e86;

}

.navbar-default{
    height: 70px;
}

.navbar-brand{
    font-size: 36px;
}

.navbar-default .navbar-brand{
    color: white;
}

.container-fluid{
    background-color: black;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
    padding-bottom: 15px;
}

p{
    font-size: 25px;
    margin: 30px 0 10px;
    padding-bottom: 1%;
    padding-left:1%;
}

#p2{
    margin-bottom: 20px;
    margin-top: -129px;
    padding-bottom: 40px;
}

.img-responsive{
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 10px;
    float: right;
    width: 62px;
}

h1{
    font-size: 65px;
}

#btn1{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #58CC14;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#btn1:hover {
    background: #ff5b19;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    }

#secondChoice{
    margin-top: 10px;
}

#searchTerm:focus{ 
    border: 3px solid #555;

}

#tweet {
    display: inline-grid;
    margin-top:30px;
}

input {
  width:80%;
}

a { color: inherit; 
} 

.liResults {
  margin-top:1%;
  border-radius:25px;
      min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
#results{
    display:none;
}

@media screen and (max-width: 770px) {
    .img-responsive {
        display:none;
    }

    .navbar{
        display: none
    }

}

@media screen and (max-width: 770px) {
    .openTxt {
        top: -112px
    }

    .openTxt p {
        display:none

    }
}



