* {
    box-sizing: border-box;
}
 html{
     
    height: 100%;
    min-height: 100%;
} 

body { 
   
    background: url('../css/images/mountains.jpg') no-repeat center center fixed;   
    background-size: cover;
    font-family: Raleway;
    position: relative;
    height: 100vh;
} 

.main{
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
}

.overlay{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.05);
    z-index: 100;
}

.blackDiv{
    height: 100px;
    background-color: black;
}

#brand {
    color: #2196f3 !important;
    margin: 0;
    padding: 1rem;
    font-family: raleway;

}

.jumboStyle{
    text-align: center;
    margin-top: 0px;
    padding-top: 1px;
    color: black;
    background-color:#2196F3 !important;
    height: 300px;
    font-family: raleway
}

span{
    color: white;
    font-weight: 400;
    
}

 


.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: -23px
}

img{
    border-radius: 3px;
}

.openTxt{
    position: absolute;
    top: -41px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    color: black;
}

.active{
    text-align: left;
    color: white;
}

.container-fluid{
    background-color: black;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
    padding-bottom: 15px;
}

p{
    font-size: 25px;
    margin: 30px 0 10px;
    padding-bottom: 1%;
    padding-left:1%;
}

#p2{
    margin-bottom: 20px;
    margin-top: -129px;
    padding-bottom: 40px;
    color: black;
}

input[type=text] {
    color: BLACK;
}

.img-responsive{
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 10px;
    float: right;
    width: 62px;
}

h1{
    font-size: 75px;
}

#secondChoice{
    margin-top: 10px;
}


#tweet {
    display: inline-grid;
    margin-top:30px;
}

input {
  width:80%;
}

a { color: inherit; 
} 

.btn-primary{
    background: #0d47a1 !important;
}

.liResults {
  margin-top:1%;
  border-radius:25px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}



.results{
    /* display:flex; */
}

@media screen and (max-width: 770px) {
    .img-responsive {
        display:none;
    }

    .navbar{
        display: none
    }

}

@media screen and (max-width: 770px) {
    .openTxt {
        top: -112px
    }

    .openTxt p {
        display:none

    }
}




